<center>
  <h1>Projects</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project|%>
        <tr>
          <td><%= project.name %></td>
          <td><%= link_to 'Edit', edit_project_path(project.id), method: :get %></td>
          <td><%= link_to 'Delete', delete_project_path(project.id), method: :delete %></td>
          <td><%= link_to 'Show', project_path(project.id), method: :get %></td>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Project', project_path %>
  <br>
  <%= link_to 'New Project', new_project_path %>
</center>

